# 讯飞星火大模型 API Key
# 获取地址：https://training.xfyun.cn/modelService
# 控制台 -> 模型服务 -> 应用管理里复制
XUNFEI_API_KEY=your api key


# 服务端口，默认 3000
PORT=3000

# 使用的模型名
# 可选：xop3qwen1b7 (Qwen 1.7B) 
MODEL=xop3qwen1b7
